<div id='codePortfolio2'>

	<div class="card effect__hover">
  		<div class="card__front klinkCard">
    		<p class="card__text">[ klink ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text"><%= render 'klink_card' %></p>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front clinicfinderCard">
    		<p class="card__text">[ clinic finder ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text"><%= render 'clinicfinder_card' %></p>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front adoptCard">
    		<p class="card__text">[ adopt ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text"><%= render 'petfinder_card' %></p>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front potatobodyCard">
    		<p class="card__text">[ the potato body project ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text"><%= render 'potatobody_card' %></p>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front portfoliosCard">
    		<p class="card__text">[ portfolio sites ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text"><%= render 'portfoliosites_card' %></p>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front kathyandsierraCard">
    		<p class="card__text">[ kathy & sierra: <i>it we</i> ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text"><%= render 'kathyandsierra_card' %></p>
  		</div>
	</div>

	<!-- <div class="card effect__hover">
  		<div class="card__front kwantreeCard">
    		<p class="card__text">[ kwan tree ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text">back</p>
  		</div>
	</div> -->

<!-- 	<div class="card effect__hover">
  		<div class="card__front vimeoCard">
    		<p class="card__text">[ vimeo feature ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text">back</p>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front comingsoonCard">
    		<p class="card__text">[ coming soon... ]</p>
  		</div>
  		<div class="card__back">
    		<p class="card__text">back</p>
  		</div>
	</div> -->

</div>