<div id='codePortfolio'> 

	<div class='codeProjectDiv'>
		<div class='codeProject klinkProj'>
			<%= image_tag 'klinkcard.png', :class => "codeProjImg" %>
		</div>
	</div>


	<div class='codeProjectDiv'>
		<div class='codeProject  clinicfinderProj'>
			<%= image_tag 'clinicfindercard.png', :class => "codeProjImg" %>
		</div>
	</div>


	<div class='codeProjectDiv'>
		<div class='codeProject petfinderProj'>
			<%= image_tag 'adoptcard.png', :class => "codeProjImg" %>
		</div>
	</div>

	<div class='codeProjectDiv'>
		<div class='codeProject potatobodyProj'>
			<%= image_tag 'potatobodycard.png', :class => "codeProjImg" %>
		</div>
	</div>


	<div class='projContentDiv'>

			<div class='projectContent klinkContent'>
		 		<%= render 'klink' %>
			</div>

			<div class='projectContent clinicfinderContent'>
		 		<%= render 'clinicfinder' %>
			</div>

			<div class='projectContent petfinderContent'>
		 		<%= render 'petfinder' %>
			</div>

			<div class='projectContent potatobodyContent'>
		 		<%= render 'potatobody' %>
			</div>

		</div>

</div>
