<div class='scrollingIcon'>
    <%= image_tag 'icon-harlot.png', class: 'scrollingIcon' %> 
</div>


<!-- ____________________________ CONNECT & NAV _____________________________ -->
<div class='connectSection'>
	<%= render 'connect' %>

	<p class='tagline '>
		<a href="#" title="" class="masterTooltip" id="tooltip-sf">| <span class='taglineTxt'>human typewriter</span> |</a>
	</p>
</div>


<!-- ________________________________ ABOUT _________________________________ -->
<div class='aboutSection'>
	<div class='aboutBG'>
		<div class='aboutTitleDiv'>
			<div class='filmSectionTitle'>
				<div class='aboutBtn'>about</div>
			</div>
		</div>		
	</div>

	<%= render 'about' %>
</div>


<!-- _________________________________ FILM _________________________________ -->
<div class='filmSection'>
	<div class='filmBG'>
		<div class='filmTitleDiv'>
			<div class='filmSectionTitle'>
				<div class='filmBtn'>film</div>
			</div>
		</div>
	</div>

	<div class='filmResume'>
		<%= render 'film' %>
	</div>
</div>


<!-- _________________________________ CODE _________________________________ -->
<div class='codeSection'>
	<div class='codeBG'>
		<div class='codeTitleDiv'>
			<div class='codeSectionTitle'>
				<div class='codeBtn'>code</div>
			</div>
		</div>
	</div>

	<div class='codeResume'>
		<%= render 'code' %>
	</div>

	<div class='codeResumeFlipper'>
		<%= render 'code_flips' %>
	</div>
</div>