<div class='heading'>
	<a href="/"><%= image_tag('icon-harlot.png', :class => 'homeIcon') %></a><br>
	<span class='codeTitle'>glass half full stack developer</span><br>
	<div class='nav'>
		<%= link_to 'github', 'http://www.github.com/sierramclawhorn', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
		<%= link_to 'linkedin', 'http://www.linkedin.com/in/sierramclawhorn', target: '_blank', rel: 'nofollow' %>
	</div>
</div>


<div id='portfolio'> 
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <span data-modal='klinkModal' class='codeProjBtn'>klink</span> ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <span data-modal='clinicfinderModal' class='codeProjBtn'>clinic finder</span> ]
		</div>		
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <span data-modal='petfinderModal' class='codeProjBtn'>adopt</span> ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <span data-modal='kwantreeModal' class='codeProjBtn'>kwan tree</span> ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <span data-modal='kathyandsierraModal' class='codeProjBtn'>kathy and sierra</span> ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <span data-modal='sierraslifeModal' class='codeProjBtn'>sierras.life</span> ]
		</div>
	</div>	
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <span data-modal='americanparadiseModal' class='codeProjBtn'>vimeo feature ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject' >
			[ coming soon... ]
		</div>		
	</div>
</div>


<!-- Modals -->

<div id='klinkModal' class='codeProjectModal'>
 	<div class='codeProjectModalContent'>
 		<span class='projClose'>&times;</span>
    	<%= render partial: 'klink', layout: false %>
  	</div>
</div>

<div id='clinicfinderModal' class='codeProjectModal'>
 	<div class='codeProjectModalContent'>
 		<span class='projClose'>&times;</span>
    	<%= render partial: 'clinicfinder', layout: false %>
  	</div>
</div>

<div id='sierraslifeModal' class='codeProjectModal'>
 	<div class='codeProjectModalContent'>
 		<span class='projClose'>&times;</span>
    	<%= render partial: 'sierraslife', layout: false %>
  	</div>
</div>

<div id='petfinderModal' class='codeProjectModal'>
 	<div class='codeProjectModalContent'>
 		<span class='projClose'>&times;</span>
    	<%= render partial: 'petfinder', layout: false %>
  	</div>
</div>

<div id='kathyandsierraModal' class='codeProjectModal'>
 	<div class='codeProjectModalContent'>
 		<span class='projClose'>&times;</span>
    	<%= render partial: 'kathyandsierra', layout: false %>
  	</div>
</div>

<div id='kwantreeModal' class='codeProjectModal'>
 	<div class='codeProjectModalContent'>
 		<span class='projClose'>&times;</span>
    	<%= render partial: 'kwantree', layout: false %>
  	</div>
</div>

<div id='americanparadiseModal' class='codeProjectModal'>
 	<div class='codeProjectModalContent'>
 		<span class='projClose'>&times;</span>
    	<%= render partial: 'americanparadise', layout: false %>
  	</div>
</div>