<div class='heading'>
	<span class='codeTitle'>glass half full stack developer</span><br>
	<div class='nav'>
		<%= link_to 'home', root_path %>
		<span class='navSpacer'> • </span>
		<%= link_to 'github', 'http://www.github.com/sierramclawhorn', target: '_blank', rel: 'nofollow' %>
	</div>
</div>


<!-- when project is clicked, view in mogle: image, site link, code link, description -->

<div id='portfolio'> 
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <%= link_to 'klink', klink_path %> ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <%= link_to 'kathy and sierra', kathyandsierra_path %> ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <%= link_to 'kwan tree', kwantree_path %> ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ <%= link_to 'american paradise', americanparadise_path %> ]
		</div>
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ coming soon... ]
		</div>		
	</div>
	<div class='codeProjectDiv'>
		<div class='codeProject'>
			[ coming soon... ]
		</div>		
	</div>
</div>